@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    
    /*START BG SETTINGS*/
    
        background-image: url("https://aww.moe/jsnizs.png");
        background-position:center center;
        background-attachment: fixed;
        background-repeat:no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
    /*END BG SETTINGS*/
        
        font-family: 'Roboto Slab', serif;
    
                }

#whitesmokebody {

        border: 25px solid whitesmoke;
        padding: 10px 25px 10px 25px;
        margin: 25px;
        background-color: whitesmoke;
    
                }

#title {

        display: inline-block;

                }

h1 {
        
        font-weight: 100;
        line-height: 0.001;
        
                }

#homeicon {

        display: inline-block;
        float: right;
        height: auto; 
        width: auto; 
        max-width: 35px; 
        max-height: 35px;

                }

.text {
            
        margin-top: 25px;
        margin-bottom: 25px;
        line-height: 30px;

                }

table, th, td {

        border: 1px solid black;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
                    
                }

table {
        
        border-collapse: collapse;
        width: 50%;
       
                }
    
th {
    
        height: 25px;
        font-weight: 100;

                }
    
tr {
        
        text-align: center;
        
                }
    
img {
        height: auto; 
        width: auto; 
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */

                }

a:link {

        text-decoration: none;
        color: black;

                }

a:visited {

        text-decoration: none;
        color: black;

                }

a:hover {

        text-decoration: none;
        color: black;

                }

a:active {

        text-decoration: none;
        color: black;
        
                }       